html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* enable full-page images */
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    font-size: 2vw;
}

.section, nav, footer {
    padding: 5% 15% 5% 15%; 
    text-align: center;
}

nav {
    padding-top: 2.5%;
    color: #333;
    overflow: hidden;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

nav li {
    display: block;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav .site-brand {
    float: left;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

#navLinks {
    font-size: 4em;
    display: none; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 5%;
    background-color: white;
    text-align: center;
}

#home {
    width: 100%;
    height: 100%;
}

#navLinks a {
    text-decoration: none;
    color: inherit;
}

#navLinks ul {
    list-style-type: none;
}

nav a.icon {
    display: block;
    float: right;
    font-size: 2em;
}

.fullpageimg-1 {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/assets/images/brochure-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fullpageimg-2 {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/assets/images/student-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    color: #333;
    text-align: left;
    padding-top: 0;
}

.hero h1 {
    font-size: 3em;
}

.hero h1 span {
    font-weight: 400;
}

.hero .button:first-of-type {
    border-radius: 1px;
    color: white;
    background-color: #333;
}

.hero .button {
    padding: 2%;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.effects {
    background-color: lightgreen;
}

.about {
    background-color: wheat;        
}

.profile {
    max-width: 75%;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 100%;
}

ol li {
    text-align: left;
}

input {
    border-color: gray;
    border-radius: 0;
    margin: 2.5%;
    padding: 2.5%;
}

footer {
    background-color: whitesmoke;
    text-align: center;
}

footer .fa {
    padding: 2.5%;    
    margin: 2%;
    width: 2em;
    height: 2em;
    font-size: 1em;
    text-decoration: none;
    border-radius: 50%;
}

footer .fa-facebook {
    color: white;
    background-color: #3b5998;
}

footer .fa-envelope {
    color: white;
    background-color: black;
}

@media only screen and (max-width: 1000px) {
    body, html {
        font-size: 10px;
    }

    #home {
      height: auto;
    }
}
